@using System.Security.Claims
@*@if (Context.Request.Cookies["Token"] != null && Context.Request.Cookies["Name"] != null)*@
@if (Context.User.HasClaim(x => x.Type == "Token"))
{
    <ul class="nav navbar-nav navbar-right">
        <li class="nav-item">
            <a class="nav-link text-dark">Hej @Context.User.Claims.FirstOrDefault(x => x.Type == ClaimTypes.GivenName)!.Value</a>
        </li>
        @if (Context.User.HasClaim(ClaimTypes.Role, "Admin"))
        {
            <li class="nav-item">
                <a class="nav-link text-dark" asp-area="" asp-controller="Account" asp-action="Register">Registrer</a>
            </li>
        }
        <li class="nav-item">
            <a class="nav-link text-dark" asp-area="" asp-controller="Account" asp-action="Logout">Log ud</a>
        </li>
    </ul>
}
else
{
    <ul class="nav navbar-nav navbar-right">
        <li class="nav-item">
            <a class="nav-link text-dark" asp-area="" asp-controller="Account" asp-action="Login">Log ind</a>
        </li>
    </ul>
}

