
@{
    ViewData["Title"] = "Home Page";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<!DOCTYPE html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Delpin</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" />
    <link rel="stylesheet" href="~/css/custom.css" />"
</head>

<body>
    <div class="logo text-right text-padding">
        <img src="~/images/delpin-logo.jpg" alt="logo">
    </div>

    <div class="delpin-color  text-center text-padding">
        <h2>Udlejningskatalog - Materiel til dit næste projekt...</h2>
    </div>

    <div class="delpin-organge text-white text-center text-padding font-weight-bold font-italic">
        <p>
            DEL-PIN A/S beskæftiger sig med udlejning af maskiner til byggebranchen,
            håndværk, industri og gør-det-selv folket - til nogle af markedets laveste listepriser
        </p>
    </div>
    <div class="text-padding delpin-img-icon-boarder">

        <a href=" https://www.facebook.com/delpinUdlejning/" target="_blank">
            <img src="~/images/facebook.jpg" width="67" height="67" />
        </a>
        <a href=" https://www.youtube.com/user/DelpinUdlejning/" target="_blank">
            <img src="~/images/youtube-icon.jpg" width="59" height="59">
        </a>
        <a href="https://www.dra.nu/" target="_blank">
            <img src="~/images/dra-logo-med-varemaerke.png" />
        </a>
    </div>
    <article class="text-padding delpin-color-bg-bottom text-white">
        
        <p>
            <h5>Kontakt</h5>
            <br/> Administration:
            <br/> Nordvesthavnsvej 60
            <br/> 6400 Sønderborg
            <br/> Telefon: 7448 8888
            <br/> E-mail: post@delpin.dk
        </p>
    </article>
</body>
























