
@{
    ViewData["Title"] = "Home Page - Del-Pin A/S";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<body>
    <div class="logo text-right text-padding">
        <img src="~/images/delpin-logo.jpg" alt="logo">
    </div>

    <div class="delpin-color  text-center text-padding">
        <h2>Udlejningskatalog - Materiel til dit næste projekt...</h2>
    </div>

    <div class="delpin-organge text-white text-center text-padding font-weight-bold font-italic">
        <p>
            DEL-PIN A/S beskæftiger sig med udlejning af maskiner til byggebranchen,
            håndværk, industri og gør-det-selv folket - til nogle af markedets laveste listepriser
        </p>
    </div>
    <div class="text-padding ">

        <a href=" https://www.facebook.com/delpinUdlejning/" target="_blank">
            <img src="~/images/facebook.jpg" width="67" height="67" />
        </a>
        <a href=" https://www.youtube.com/user/DelpinUdlejning/" target="_blank">
            <img src="~/images/youtube-icon.jpg" width="59" height="59">
        </a>
        <a href="https://www.dra.nu/" target="_blank">
            <img src="~/images/dra-logo-med-varemaerke.png" />
        </a>
    </div>
    <div class="text-padding delpin-color-bg-bottom text-white">

    <div class="row text-padding text-white">
        <div class="column1">
            <h5>Kontakt</h5>
            <p>
                <br /> Administration:
                <br /> Nordvesthavnsvej 60
                <br /> 6400 Sønderborg
                <br /> Telefon: 7448 8888
                <br /> E-mail: post@delpin.dk
            </p>

        </div>
        <div class="column2">
            <h5>Afdelinger</h5>
            <div class="subcolumn">
                <h6>Jylland</h6>
                <br />Sønderborg
                <br />Rødekro
                <br />Haderslev
                <br />Kolding
                <br />Vejle
                <br />Esbjerg
                <br />Fredericia

            </div>
            <div class="subcolumn">
                <h6>Fyn</h6>
                <br />Odense
                <br />Assens
            </div>      

        </div>
            <div class="column3"><h5>åbningstider</h5>
               <div class="subcolumn1"><h6>Afdelinger</h6>
               <div class="subcolumn1">
                   <br />Mandag     
                   <br />Tirsdag     
                   <br />Onsdag      
                   <br />Torsdag    
                   <br />Fredag     
                   <br />Lørdag      
                   <br />Søndag      
                   
               </div>
               <div class="subcolumn2">
                   <br />Lukket
                   <br />6.30 - 16.30
                   <br />6.30 - 16.30
                   <br />6.30 - 16.30
                   <br />6.30 - 16.30
                   <br />Lukket
                   <br />Lukket
               </div>
               </div>
               <div class="subcolumn1">
                   <h6>Hovedkontor</h6>
                   <div class="subcolumn1">
                       <br />Mandag
                       <br />Tirsdag
                       <br />Onsdag
                       <br />Torsdag
                       <br />Fredag
                       <br />Lørdag
                       <br />Søndag

                   </div>
                   <div class="subcolumn2">
                       <br />Lukket
                       <br />8.00 - 16.00
                       <br />8.00 - 16.00
                       <br />8.00 - 16.00
                       <br />8.00 - 15.30
                       <br />Lukket
                       <br />Lukket
                   </div>

               </div>
               
            </div>
            
        </div>


    </div>
</body>
























