.btn-delpin {
    width: 100px;
}

.margin-10px-no-left {
    margin: 10px 10px 10px 0px;
}

.image-card-size {
    max-width: 250px;
    height: 250px;
}

.delpin-color {
    color: #194B95;
}


.delpin-color-bg {
    background-color: #194B95;
}

.delpin-img {
    padding: 10px;
}

.delpin-organge {
    background-color: #DB9027 !important;
}

.grayout {
    opacity: 0.6; /* Real browsers */
}
.text-padding {
    padding: 20px; 
}

.delpin-color-bg-bottom{
    background-color:#2b2a2a;
   
}

/* Create four equal columns that floats next to each other */
.column1 {
    float: left;
    width: 25%;
    padding: 20px;   
}
.column2 {
    float: left;
    width: 25%;
    padding: 20px;
}
.column3 {
    float: left;
    width: 50%;
    padding: 20px;
}
.subcolumn{
    float: left;
    width: 50%;
   
}
.subcolumn1 {
    
    float: left;
    width: 50%; 
  
}
.subcolumn2 {
    float: right;
    width: 50%;
}
/* Clear floats after the columns */
.row:after {
    content: "";
    display: table;
    clear: both;
}
 
/*...Everything is for the drop down.....*/
.nav-dd {
    width:100%;
    height:60px;
}

.nav-dd p{
    color: #fff;
    line-height: 55px;     
}

.nav-dd ul li{
    list-style:none;
    position: relative;
}

.nav-dd ul li a{
    display: block;
    color: #222;
    font-size: 14px;
    padding: 22px 14px;
    text-decoration:none;
}

.nav-dd ul li ul {
    display: none;
    position:absolute;
    background-color:#fff;
    padding: 5px;
}

.nav-dd ul li:hover ul {
    display: block;       
}

.nav-dd ul li ul li a{
    padding: 8px 15px;
}

.nav-dd ul li ul li a:hover {
    background-color:#f3f3f3;
}
